In [2]:
import pandas as pd
import ast

In [12]:
data = pd.read_csv(r'tron_dex_trades_data2.csv')

In [13]:
df = data.copy()

In [14]:
df.shape

(156038, 22)

In [15]:
df.columns

Index(['date', 'block', 'transaction', 'exchange', 'smartContract', 'maker',
       'taker', 'side', 'baseAmount', 'baseCurrency', 'buyAmount',
       'buyCurrency', 'sellAmount', 'sellCurrency', 'quoteAmount',
       'quoteCurrency', 'price', 'quotePrice', 'energyFee', 'energyUsageTotal',
       'fee', 'tradeAmount'],
      dtype='object')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156038 entries, 0 to 156037
Data columns (total 22 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date              156038 non-null  object
 1   block             156038 non-null  object
 2   transaction       156038 non-null  object
 3   exchange          156038 non-null  object
 4   smartContract     156038 non-null  object
 5   maker             156038 non-null  object
 6   taker             156038 non-null  object
 7   side              156038 non-null  object
 8   baseAmount        156038 non-null  float64
 9   baseCurrency      156038 non-null  object
 10  buyAmount         156038 non-null  float64
 11  buyCurrency       156038 non-null  object
 12  sellAmount        156038 non-null  float64
 13  sellCurrency      156038 non-null  object
 14  quoteAmount       156038 non-null  float64
 15  quoteCurrency     156038 non-null  object
 16  price             156038 non-null  float64
 17  quotePrice        156038 non-null  float64
 18  energyFee         156038 non-null  float64
 19  energyUsageTotal  156038 non-null  float64
 20  fee               156038 non-null  float64
 21  tradeAmount       156038 non-null  float64
dtypes: float64(10), object(12)
memory usage: 26.2+ MB

### Formatting Date Column

In [17]:
# Convert dictionary-like string to dictionary and extract the date string
df['date'] = df['date'].apply(lambda x: ast.literal_eval(x)['date'])

# Convert the date string to datetime format
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

### Formatting Block Column

In [18]:
# Convert dictionary-like string to dictionary
df['block'] = df['block'].apply(ast.literal_eval)

# Extracting different columns from the dictionary
df['block_hash'] = df['block'].apply(lambda x: x['hash'])
df['block_time'] = df['block'].apply(lambda x: x['timestamp']['time'])

# Dropping the original 'block' column
df.drop(columns=['block'], inplace=True)

# Convert timestamp column to datetime format
df['block_time'] = pd.to_datetime(df['block_time'], format='%Y-%m-%d %H:%M:%S')

### Formatting Transaction Column

In [19]:
# Convert dictionary-like string to dictionary
df['transaction'] = df['transaction'].apply(ast.literal_eval)

# Extracting the 'hash' value into a separate column
df['transaction_hash'] = df['transaction'].apply(lambda x: x['hash'])

# Dropping the original 'transaction' column
df.drop(columns=['transaction'], inplace=True)

### Formatting Exchange Column

In [20]:
# Convert dictionary-like string to dictionary
df['exchange'] = df['exchange'].apply(ast.literal_eval)

# Extracting the 'address' value into a separate column
df['exchange_address'] = df['exchange'].apply(lambda x: x['address']['address'])

# Dropping the original 'exchange' column
df.drop(columns=['exchange'], inplace=True)

### Formatting Smart Contract Column

In [21]:
# Convert dictionary-like string to dictionary
df['smartContract'] = df['smartContract'].apply(ast.literal_eval)

# Extracting the 'address' value into a separate column
df['smart_contract_address'] = df['smartContract'].apply(lambda x: x['address']['address'])

# Dropping the original 'smartContract' column
df.drop(columns=['smartContract'], inplace=True)

### Formatting Maker and Taker Column

In [22]:
# Extracting the 'address' value into a separate column
df['maker'] = df['maker'].apply(lambda x: ast.literal_eval(x)['address'])
df['taker'] = df['taker'].apply(lambda x: ast.literal_eval(x)['address'])

### Formatting Currency Columns

In [23]:
# Extracting the 'name' and 'symbol' values into separate columns
df['base_currency_name'] = df['baseCurrency'].apply(lambda x: ast.literal_eval(x)['name'])
df['base_currency_symbol'] = df['baseCurrency'].apply(lambda x: ast.literal_eval(x)['symbol'])

df['buy_currency_name'] = df['buyCurrency'].apply(lambda x: ast.literal_eval(x)['name'])
df['buy_currency_symbol'] = df['buyCurrency'].apply(lambda x: ast.literal_eval(x)['symbol'])

df['sell_currency_name'] = df['sellCurrency'].apply(lambda x: ast.literal_eval(x)['name'])
df['sell_currency_symbol'] = df['sellCurrency'].apply(lambda x: ast.literal_eval(x)['symbol'])

df['quote_currency_name'] = df['quoteCurrency'].apply(lambda x: ast.literal_eval(x)['name'])
df['quote_currency_symbol'] = df['quoteCurrency'].apply(lambda x: ast.literal_eval(x)['symbol'])

# Dropping the original columns
df.drop(columns=['baseCurrency'], inplace=True)
df.drop(columns=['buyCurrency'], inplace=True)
df.drop(columns=['sellCurrency'], inplace=True)
df.drop(columns=['quoteCurrency'], inplace=True)

In [24]:
df.columns

Index(['date', 'maker', 'taker', 'side', 'baseAmount', 'buyAmount',
       'sellAmount', 'quoteAmount', 'price', 'quotePrice', 'energyFee',
       'energyUsageTotal', 'fee', 'tradeAmount', 'block_hash', 'block_time',
       'transaction_hash', 'exchange_address', 'smart_contract_address',
       'base_currency_name', 'base_currency_symbol', 'buy_currency_name',
       'buy_currency_symbol', 'sell_currency_name', 'sell_currency_symbol',
       'quote_currency_name', 'quote_currency_symbol'],
      dtype='object')

### Renaming the Columns

In [25]:
df.rename(columns={'baseAmount': 'base_amount',
                   'buyAmount': 'buy_amount',
                   'sellAmount': 'sell_amount',
                   'quoteAmount': 'quote_amount',
                   'tradeAmount': 'trade_amount_usd',
                   'quotePrice': 'quote_price',
                   'energyFee': 'energy_fee',
                   'energyUsageTotal': 'energy_usage_total'}, inplace=True)

### Rearranging the Order of Columns

In [26]:
desired_order = ['transaction_hash', 'date', 'block_hash', 'block_time', 'side',
                 'exchange_address', 'smart_contract_address', 'maker', 'taker',
                 'buy_currency_name', 'buy_currency_symbol', 'buy_amount',
                 'sell_currency_name', 'sell_currency_symbol', 'sell_amount',
                 'base_currency_name', 'base_currency_symbol', 'base_amount',
                 'quote_currency_name', 'quote_currency_symbol', 'quote_amount',
                 'trade_amount_usd', 'price', 'quote_price', 'energy_fee', 'fee', 
                 'energy_usage_total']

df1 = df[desired_order]

In [27]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156038 entries, 0 to 156037
Data columns (total 27 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   transaction_hash        156038 non-null  object
 1   date                    156038 non-null  datetime64[ns]
 2   block_hash              156038 non-null  object
 3   block_time              156038 non-null  datetime64[ns]
 4   side                    156038 non-null  object
 5   exchange_address        156038 non-null  object
 6   smart_contract_address  156038 non-null  object
 7   maker                   156038 non-null  object
 8   taker                   156038 non-null  object
 9   buy_currency_name       156038 non-null  object
 10  buy_currency_symbol     156038 non-null  object
 11  buy_amount              156038 non-null  float64
 12  sell_currency_name      156038 non-null  object
 13  sell_currency_symbol    156038 non-null  object
 14  sell_amount             156038 non-null  float64
 15  base_currency_name      156038 non-null  object
 16  base_currency_symbol    156038 non-null  object
 17  base_amount             156038 non-null  float64
 18  quote_currency_name     156038 non-null  object
 19  quote_currency_symbol   156038 non-null  object
 20  quote_amount            156038 non-null  float64
 21  trade_amount_usd        156038 non-null  float64
 22  price                   156038 non-null  float64
 23  quote_price             156038 non-null  float64
 24  energy_fee              156038 non-null  float64
 25  fee                     156038 non-null  float64
 26  energy_usage_total      156038 non-null  float64
dtypes: datetime64[ns](2), float64(10), object(15)
memory usage: 32.1+ MB

In [28]:
df1.head()

,transaction_hash,date,block_hash,block_time,side,exchange_address,smart_contract_address,maker,taker,buy_currency_name,...,base_amount,quote_currency_name,quote_currency_symbol,quote_amount,trade_amount_usd,price,quote_price,energy_fee,fee,energy_usage_total
0,bce7221bcee265207c65d606aa7bb98fb733b212c078b3...,2024-03-21,0x0000000003953f7f2ef0e52ca86872bea5e1d70450cc...,2024-03-21 00:00:09,BUY,TKWJdrQkqHisa1X8HUdHEfREvTzw4pMAaY,TLKyq7eJ4YKbs3TGEvoBJWkAXWYQKWo2Nn,TKzxdSv2FZKQrEqkKVgp5DcwEXBEKMg2Ax,TQooBX9o8iSSprLWW96YShBogx7Uwisuim,Tether USD,...,3.291877e+03,BitTorrent,BTT,2.319382e+09,3292.457278,704577.415733,704577.415733,0.0,0.0,90473.0
1,bce7221bcee265207c65d606aa7bb98fb733b212c078b3...,2024-03-21,0x0000000003953f7f2ef0e52ca86872bea5e1d70450cc...,2024-03-21 00:00:09,SELL,TKWJdrQkqHisa1X8HUdHEfREvTzw4pMAaY,TLKyq7eJ4YKbs3TGEvoBJWkAXWYQKWo2Nn,TKzxdSv2FZKQrEqkKVgp5DcwEXBEKMg2Ax,TQooBX9o8iSSprLWW96YShBogx7Uwisuim,Tether USD,...,2.319382e+09,Tether USD,USDT,3.291877e+03,3292.457278,704577.415733,0.000001,0.0,0.0,90473.0
2,2f90ea002f6c17e5d367d709c610b8444c07b14bd0f422...,2024-03-21,0x0000000003953f8145f880657394673bed03406be8f9...,2024-03-21 00:00:15,BUY,TKWJdrQkqHisa1X8HUdHEfREvTzw4pMAaY,TFGDbUyP8xez44C76fin3bn3Ss6jugoUwJ,TKzxdSv2FZKQrEqkKVgp5DcwEXBEKMg2Ax,TKzxdSv2FZKQrEqkKVgp5DcwEXBEKMg2Ax,Tether USD,...,5.409656e+01,Wrapped TRX,WTRX,4.467907e+02,54.106087,8.259133,8.259133,0.0,0.0,363974.0
3,2f90ea002f6c17e5d367d709c610b8444c07b14bd0f422...,2024-03-21,0x0000000003953f8145f880657394673bed03406be8f9...,2024-03-21 00:00:15,SELL,TKWJdrQkqHisa1X8HUdHEfREvTzw4pMAaY,TFGDbUyP8xez44C76fin3bn3Ss6jugoUwJ,TKzxdSv2FZKQrEqkKVgp5DcwEXBEKMg2Ax,TKzxdSv2FZKQrEqkKVgp5DcwEXBEKMg2Ax,Tether USD,...,4.467907e+02,Tether USD,USDT,5.409656e+01,54.106087,8.259133,0.121078,0.0,0.0,363974.0
4,98506438784b79fbb83d6f1f5b1b936f0cc3219e1d5a12...,2024-03-21,0x0000000003953f9f0ca69836c513aba61df2d3a8b90a...,2024-03-21 00:01:45,SELL,TKWJdrQkqHisa1X8HUdHEfREvTzw4pMAaY,TLKyq7eJ4YKbs3TGEvoBJWkAXWYQKWo2Nn,TKzxdSv2FZKQrEqkKVgp5DcwEXBEKMg2Ax,TQooBX9o8iSSprLWW96YShBogx7Uwisuim,BitTorrent,...,3.291804e+03,BitTorrent,BTT,2.333310e+09,3292.384317,0.000001,708823.966192,0.0,0.0,90075.0

In [29]:
df1.to_csv(r'formatted_tron_dexs_data.csv', index=False)

In [3]:
data = pd.read_csv(r'formatted_tron_dexs_data.csv')

In [4]:
data.shape

(156038, 27)

In [5]:
data.columns

Index(['transaction_hash', 'date', 'block_hash', 'block_time', 'side',
       'exchange_address', 'smart_contract_address', 'maker', 'taker',
       'buy_currency_name', 'buy_currency_symbol', 'buy_amount',
       'sell_currency_name', 'sell_currency_symbol', 'sell_amount',
       'base_currency_name', 'base_currency_symbol', 'base_amount',
       'quote_currency_name', 'quote_currency_symbol', 'quote_amount',
       'trade_amount_usd', 'price', 'quote_price', 'energy_fee', 'fee',
       'energy_usage_total'],
      dtype='object')

In [6]:
data['exchange_address'].value_counts()

TKWJdrQkqHisa1X8HUdHEfREvTzw4pMAaY    156004
THkvXfUaRmpkRcfh5RpokxfXBN9U3eRGj7        34
Name: exchange_address, dtype: int64

In [7]:
data['maker'].value_counts()

TKzxdSv2FZKQrEqkKVgp5DcwEXBEKMg2Ax    128984
TDKG6QZLSWx416pb8PHmAMRyLr3JXTPvbC      5392
TGKLeTRMJyzpHq9ypyukxc3ee4DAyyfbqB      5176
TX1NyifLwcaZANCPdGc3wwreHVnWNAVPVX      4000
TJ5UAcbDSPiRWyiUxDtkqgosYWbZyYEyuG      2414
TJQERRPLty1DpVzcwXHphSRMpzLbqEshSQ      2116
TYwvVvkX1qr2zMiYriAtqSPS6Dx7o88wGJ      1934
TH97hbKZpsQXydGMJRfeGH1cVqdWeoqtkf      1220
TMsrtDpgsYzdroyQU1qD4cUF72faVb8xz9       978
TDQLENYEsxQKkPk9c8VjrHcPoM4z8FwQ7S       622
TBrJUrRJ1Cuzvoki7NbFj5nsf2G6ZVS6Nx       584
TGBsofXdwxynkKRo2u9RgHFvGFNE3NLkiW       562
TF912tbb7z2w6C9wK3uY68w42JqB9pgCJG       492
TBGhEMTSr7LQqUSPCNv6tkcD2tnvfYPJKA       418
TCCVCWM88BRhSAdnDxfx4HvRPEcB7xGgRv       160
TPdthWzUHfepu2TEBimTFi1sBWtGYi3Ksa       158
TVi6dday9Ae32uHdp13uvhfqKy9zt9bGDb       138
TKMDeTqEqaUzgSoUVdmZYV5Xp1h2oR7qvt       110
TWv6rckJAYyFGNQ6k4B6gwus7rQKwriviJ       102
TY7J38273wJHsG44LmttrJMSnXxd8oNpGR        86
TQBBr9Juw7MKDw7fthA3MNDkGzUEsbT7yb        70
TQCdHD86uoXBjARcSsJ8D1Q6zxSxv3gXsy        56
TVxo9SVEHY4TjN66Cnu94wMxfkaxJvJiHi        46
TEYnP7BdffyEEv8N8yfTDCFMGsqg5gwSzq        40
TAKGgdzSvyCu5sBuwENgydMk4UrP13z67S        34
TWwC3MbmXpBoRo4XX2xhta1YzFrFSbTbiz        28
TS5v9Z9frcc6zerQmUsLBCEp28fdabNZC7        28
TWPTf2DFwcnf1mDeMMtATe6f2zeQaDRFyb        24
TGKdNXyXduVYrxv3CskpieJmHbjgLzXgJi        18
TXEL2uKhvymU4w61zyNdphco1SraLwMyrH        14
TXhCQf1i4NEqxVuyMi1erBeEHCb3JF3kak        12
TQV8pVs2YF4bKTZSzCvzNdKRdzMpub8kmb        12
TF4LBxy9FdDFudHkmb8djbYPEoMDajMcvW         8
TSz6AASx3fP5WCvYDp6DtqkZ5a5WvEdd4C         2
Name: maker, dtype: int64